
.Table {
    border-spacing: 0px;
    background: #fff;   
    margin:auto;
    table-layout: fixed; 
    .Cell {
 
      padding: 4px;
      font-size : 14px;
      text-align: center;    
      width: 73px;
      font-family: arial;
      overflow: hidden;
    }
    .Cell-header{
      
        color: #c2c0c0;
        font-weight: 500;
        padding-bottom: 5px;
        border-bottom: 2px solid #f7f7f7;
    
    
    }
  }
  